<head>
    <body background="~/Content/1424537.jpg">
        <div class="sepagesection sepagesectionfirst">
            <div class=" col span_1_of_3">
                <h1>We are Cincinnati's #1 Source for Cycling!</h1>


                <p style="margin:0;text-align: left;">Th Bike Stores of Cincinnati are locally owned and operated full service bike shops located in West Chester and Blue Ash Ohio.</p>
                <p style="text-align: left;">We specialize in providing the best products at the best price while upholding our vision to improve the quality of life in Cincinnati...one bicycle at a time.</p>
                <p we believe that the more people we can get on bikes for recreation and transportation, the more we can help improve the physical health not only of the individuals riding, but over time, help improve the environmental health of our city. />p>
                <p style="text-align: left;">We are committed to our customers and we strive for excellence by being friendly, professional, and integral in every interaction.</p>
                <p style="text-align: left;">Our commitment to the communities we serve is unparalleled as we proudly sponsor and support several clubs, bike organizations, local events and charities.
                <p style="text-align: left;"> In addition, we are active advocates for better bicycling infrastructure in our cities and parks.&nbsp; So when you buy from us, you're not only riding away on the best made bike in town, but you are investing in the future of your community too! &nbsp;</p>

                <div class="secleartext"></div>

                <div class="secleartext"></div>
            </div>
        </div>

        <div class="col span_1_of_3">
            <br>
            <br>
            <div class="aside">
                <a href="honolulu.php" title="Visit The Bike Shop Cincinnati"><img src="~/Content/2011513-cycle-shop-main.jpg" width="280" height="209" alt="Cincinnati Site"></a><a href="aiea.php" title="Visit The Bike Shop Newyork"><img src="~/Content/dsc_0563.jpg" width="280" height="209" alt="Aiea Site"></a><a href="kailua.php" title="Visit The Bike Shop Chicago"><img src="~/Content/Society Cycle Works interior.jpg" width="280" height="209" alt="Kailua Site"></a>
            </div>
        </div>

    </body>
    </html>