<head>
    <body background="~/Content/mountain-bike-art-hd-wallpaper.jpg">
        <div class="col-xs-8">
            <h1>Contact Us</h1>
            <p>Stop by the store, give us a call, or send an email, we'd love to hear from you. If you'd rather talk to a human than sending an e-mail, feel free to give us a call at&nbsp;<strong>(859) 261-6187,</strong>&nbsp;or<b>&nbsp;</b><a href="/pages/reser-bicycle-newport-ky">Click Here</a> for more information on our store.</p>
            <p>&nbsp;</p>
        </div>
        <section>
            <div class="row" id="contactForm">
                <div class="col-sm-8">
                    <form method="post" action="/contact" class="contact-form" accept-charset="UTF-8">
                        <input type="hidden" value="contact" name="form_type"><input type="hidden" name="utf8" value="✓">


                        <div class="row">
                            <div class="col-sm-3">
                                Your Name
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control input-lg" type="text" id="name" name="contact[name]" data-rule="maxlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Your Email
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control input-lg " type="email" id="email" name="contact[email]" data-rule="email" data-msg="Please enter a valid email">
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Message
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control input-lg" rows="9" id="message" name="contact[body]" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" value="Send message" class="btn btn-large btn-primary pull-right" name="Submit Message">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h3>Store Location</h3>
                    <h6><span itemprop="name">The Bike Shop Cincinnati</span></h6>
                    <br />
                    <p>
                        <span itemprop="streetAddress">707 Martin Luther King Drive W</span><br>
                        <span itemprop="addressLocality">Cincinnati, OH, 45221</span><br>
                        Phone: <span itemprop="telephone">(534) 897-9822</span>
                    </p>
                    <br />
                    <h6><span itemprop="name">The Bike Shop Newyork</span></h6>
                    <p>
                        <span itemprop="streetAddress">476 5th Ave</span><br>
                        <span itemprop="addressLocality">Brooklyn, NY 11215</span><br>
                        Phone: <span itemprop="telephone">(718) 788-2543</span>
                    </p>
                    <br />
                    <h6><span itemprop="name">The Bike Shop Chicago</span></h6>
                    <p>
                        <span itemprop="streetAddress">#21 Hoffman Street</span><br>
                        <span itemprop="addressLocality">Chicago, IL, 55125</span><br>
                        Phone: <span itemprop="telephone">(120) 423-9822</span>
                    </p>
                </div>
            </div>
        </section>
    </body>
</head>
