<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Bike Store!</h1>
        <img src="~/Content/mountain_biking_hd_widescreen_wallpapers_1920x1200.jpeg" width="350" height="309" />
        <p>The perfect place to find the bike of your choice...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Available Brands</h2>
    </div>
</div>
<div class="col-md-3">
    <img src="~/Content/suzuki_logo.png" width="100" height="109" alt="Suzuki"></a>
</div>
<div class="col-md-3">
    <img src="~/Content/scott_logo_horizontal_black1.jpg" width="100" height="109" alt="Scott"></a>
</div>

<div class="col-md-3">
    <img src="~/Content/FALCON-COMPLETE-LOGO-1600x1200.jpg" width="100" height="109" alt="Falcon"></a>
</div>
<div class="col-md-3">
    <img src="~/Content/giant_logo_1.jpg" width="100" height="109" alt="Giant"></a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="col-md-3">
    <img src="~/Content/deco.png" width="100" height="109" alt="Suzuki"></a>
</div>
<div class="col-md-3">
    <img src="~/Content/images.jpg" width="100" height="109" alt="Scott"></a>
</div>

<div class="col-md-3">
    <img src="~/Content/Trek.jpg" width="100" height="109" alt="Falcon"></a>
</div>
<div class="col-md-3">
    <img src="~/Content/BMC.png" width="100" height="109" alt="BMC"></a>
</div>
<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked"></ul>
</div>
<div class="clearfix visible-lg"></div>
    </div>
    </div>

<div id="footer_social" style="margin-top:20px;"><a href="https://www.facebook.com/The-Bike-Shop-1688058958092096/timeline/"><img src="~/Content/Facebook.jpg" width="32" height="32" alt="facebook_icon" style="margin-right:5px; margin-left:5px"></a><a href="https://twitter.com/bikeshophawaii"><img src="images/Twitter.png" width="32" height="32" alt="twitter_icon" style="margin-right:5px;"></a> <a href="http://instagram.com/thebikeshophawaii"><img src="Images/instagram.png" width="32" height="32" alt="Instagram" style="margin-right:5px;"></a>  <a href="https://www.youtube.com/channel/UCtE8aGJqPX6DulOwUWuZBwA"> <img src="Images/youtube.png" width="32" height="32" alt="youtube"></a></div>
</html>
